<div class="top-content vacancy container">
    <div class="box">
        <p class="tag">Company</p>
        <p class="name">{{vacancy.company}}</p>
    </div>
    <div class="box">
        <p class="tag">Location</p>
        <p class="name">{{vacancy.location}}</p>
    </div>
    <div class="box">
        <p class="tag">Contract</p>
        <p class="name">{{vacancy.contract}}</p>
    </div>
    <div class="box">
        <p class="tag">Salary</p>
        <p class="name">$ {{vacancy.salary}}</p>
    </div>
</div>

<div class="vacancy-container container">
    <main class="content">
        <h2>Role´s description</h2>
        <div class="vacancy-description">
            {{{vacancy.description}}}
        </div>
        <a href="/vacancies/edit-vacancy/{{vacancy.url}}" class="btn btn-blue edit-btn">
            Edit vacancy
        </a>
    </main>
    <aside class="sidebar">
        <h2>Desired Skills</h2>
        <ul class="skills">
            {{#each vacancy.skills}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </aside>
</div>

<div class="container data-recruiter">
    <div class="send-data">
        <h2>Contact to Recruiter</h2>
        <p>Send your resume and we´ll contact you</p>
        <form action="/vacancies/{{vacancy.url}}" method="post" class="default-form" enctype="multipart/form-data">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" placeholder="Your name">
            </div>
            <div class="field">
                <label>Email</label>
                <input type="email" name="email" placeholder="Your Email">
            </div>
            <div class="field">
                <label>Resume <small>(PDF)</small></label>
                <input type="file" name="resume">
            </div>
            <div class="field">
                <input type="submit" value="Send" class="btn btn-green">
            </div>
        </form>
    </div>
    <div class="recruiter-info">
        <h2>Recruiter information</h2>
        {{#if vacancy.author.name}}
            <p>{{vacancy.author.name}}</p>
        {{/if}}
        {{#if vacancy.author.image}}
            <img src="/uploads/profiles/{{vacancy.author.image}}">
        {{/if}}
    </div>
</div>